export PATH=.:/u01/jdk:$PATH
export JAVA_HOME=/u01/jdk
export CATALINA_HOME={{dir}/apache-tomcat
export CATALINA_OPTS="-server -Xms2g -Xmx6g -XX:MaxMetaspaceSize=1g"
export JAVA_OPTS="-Doracle.jdbc.autoCommitSpecCompliant=false"